body {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	margin: 0;

	#pai {
		width: 80%;
		margin: auto;
		font-size: 20px;

		#menu {
			background-color: rgb(8, 26, 36);
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 5px 5%;

			nav ul {
				display: flex;

				li {
					list-style-type: none;
					text-transform: uppercase;
					letter-spacing: 2px;

					&:nth-child(n + 2) {
						padding-left: 15px;
					}
					a {
						color: rgb(26, 99, 138);
						transition: color 0.2s ease-out;
						&:hover {
							color: rgb(98, 164, 199);
							transition: color 0.3s ease-in;
						}
					}
				}
			}
		}

		#foto-topo img {
			width: 100%;
			height: 100%;
			margin-bottom: 2%;
		}

		section.container {
			padding: 0 10%;
			margin: 3% 0;

			.text-center {
				text-align: center;
				
				h2 {
					margin: 0;
				}
				
				p {
					display: inline-block;
					margin-bottom: 5%;
				}
			}
			
			.exposição {
				display: flex;
				align-items: center;
				justify-content: space-around;

				.modelos {					
					img {
						height: 100%;
						width: 100%;
					}

					h3, p {
						text-align: center;
						margin: 0;
					}
					
					h3 {
						text-transform: uppercase;
						margin-top: 4%;
					}
				}
			}
		}

		#parte-azul {
			background: rgb(0, 61, 82) url(../assets/images/bg_detalhe.png) no-repeat right bottom;
			text-align: justify;
			padding: 10%;
			h1, p {
				color: rgb(255, 255, 255);
				margin: 2%;
			}
			h1 {
				text-transform: uppercase;
				font-size: 50px;
			}
			p {
				width: 65%;
			}
		}
		#telefone {
			text-align: center;
		}
		footer {
			align-items: center;
			background-color: rgb(8, 26, 36);
			color: white;
			display: flex;
			font-size: 16px;
			justify-content: center;
			margin-top: 10px;
			text-shadow: 1px 1px rgb(35, 81, 105);
		}
	}
}